/* app */
    body, button, input, textarea, select {
        font-family: PT Sans, sans-serif;
    }

    html, body {
        position: relative;
        height: 100%;
        overflow: hidden;
        cursor: default;
        -webkit-user-select: none;
    }

    table tbody tr {
        -webkit-user-select: text;
    }

    body {
        margin: 0;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAChJREFUeNpiPHPmDAMMGBsbw9lMDDgA6RKM////h3POnj1LCzsAAgwAQtYIcFfEyzkAAAAASUVORK5CYII=');
    }

    body.hand-cursor * {
        cursor: move;
    }

    canvas, svg, img {
        position: absolute;
        left: 0;
        top: 0;
    }

    #stats {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: white;
        background: rgba(0,0,0,.5);
        padding: 5px;
        font-size: 12px;
        white-space: pre-line;
    }

    #stats span {
        display: block;
        margin-bottom: 5px;
        height: 5px;
    }

    aside {
        position: absolute;
        background: rgba(0,0,0,.5);
        top: 0;
        right: -250px;
        bottom: 0;
        width: 250px;
        transition: right .2s;

        font-size: 13px;
    }

    aside.open {
        right: 0;
    }

    aside > div:first-child {
        position: absolute;
        font: 12px "Segoe UI Symbol";
        left: -42px;
        top: 12px;
        width: 32px;
    }

    aside > div:last-child {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        padding: 0 20px;
        color: white;
        box-sizing: border-box;
    }

    input[type="checkbox"] {
        vertical-align: middle;
    }

    input[type="number"] {
        height: 14px;
        font-size: 11px;
        padding: 0 2px;
        float: right;
    }

    aside > div:first-child > button {
        font: 12px "Segoe UI Symbol";
        display: block;
        height: 32px;
        width: 32px;
        margin-bottom: 4px;
    }

    aside > div:first-child > button.active {
        color: brown;
    }

    aside section {
        margin-bottom: 16px;
    }

    aside section > label {
        display: block;
        margin-top: 4px;
    }

    aside section > span {
        font-size: 11px;
    }

    aside section > button {
        width: 100%;
        margin-bottom: 4px;
    }

    aside section > h1 {
        margin-bottom: 8px;
    }

/* table */
    table {
        width: auto !important;
        font-size: 11px;
        margin: 18px 0;
        border: none;
        border-spacing: 0;
    }

    th, td {
        text-align: left;
        padding: 2px 20px;
    }

    td {
        font-size: 14px;
    }

    th { 
        background-image: url(img/small.gif); 
        cursor: pointer;
        font-weight: bold;
        background-repeat: no-repeat;
        background-position: center left;
    }

    th.headerSortUp { 
        background-image: url(img/asc.gif); 
    }

    th.headerSortDown { 
        background-image: url(img/desc.gif); 
    }

    tbody tr:hover {
        background: #def;
    }

/* dialogs */
    dialog {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.24);
        border-radius: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    dialog > div {
        min-width: 400px;
        /*position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -200px;*/
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0,0,0,.17);
        padding: 0 20px 20px;
        box-sizing: border-box;
    }

    dialog input, dialog select, dialog button, dialog table {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

/* pt sans */
    /* fallback */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: local('PT Sans'), local('PTSans-Regular'), url(ptsans/zQCiNX1F1RnBbbNioGlclQ.woff2) format('woff2');
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: local('PT Sans'), local('PTSans-Regular'), url(ptsans/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: local('PT Sans'), local('PTSans-Regular'), url(ptsans/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* latin-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: local('PT Sans'), local('PTSans-Regular'), url(ptsans/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: local('PT Sans'), local('PTSans-Regular'), url(ptsans/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
    /* fallback */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        src: local('PT Sans Bold'), local('PTSans-Bold'), url(ptsans/AmEqS6co04Y8IVxbjHwxOvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        src: local('PT Sans Bold'), local('PTSans-Bold'), url(ptsans/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        src: local('PT Sans Bold'), local('PTSans-Bold'), url(ptsans/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* latin-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        src: local('PT Sans Bold'), local('PTSans-Bold'), url(ptsans/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        src: local('PT Sans Bold'), local('PTSans-Bold'), url(ptsans/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
    /* fallback */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 400;
        src: local('PT Sans Italic'), local('PTSans-Italic'), url(ptsans/NTi9jvhjDTn3dlAdGAFDkA.woff2) format('woff2');
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 400;
        src: local('PT Sans Italic'), local('PTSans-Italic'), url(ptsans/GpWpM_6S4VQLPNAQ3iWvVRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 400;
        src: local('PT Sans Italic'), local('PTSans-Italic'), url(ptsans/7dSh6BcuqDLzS2qAASIeuhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* latin-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 400;
        src: local('PT Sans Italic'), local('PTSans-Italic'), url(ptsans/DVKQJxMmC9WF_oplMzlQqRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 400;
        src: local('PT Sans Italic'), local('PTSans-Italic'), url(ptsans/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
    /* fallback */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 700;
        src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(ptsans/lILlYDvubYemzYzN7GbLkPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 700;
        src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(ptsans/lILlYDvubYemzYzN7GbLkK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 700;
        src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(ptsans/lILlYDvubYemzYzN7GbLkJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* latin-ext */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 700;
        src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(ptsans/lILlYDvubYemzYzN7GbLkD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'PT Sans';
        font-style: italic;
        font-weight: 700;
        src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(ptsans/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
